{% extends "_base.html"}
{% load crispy_forms_tags %}

<html> 
  <head> 
    <title>{% block title %}Solar Panel Form{% endblock title %}</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style>
        body {
            padding-bottom: 20px;
            padding-top: 70px;
        }
        .messages {
            list-style: none;
        }
    </style>
  </head> 

  <body>
  
    {% block headline %}<h1>Solar Panel Create</h1>{% endblock headline %}

    {% block body %}

      {% crispy form %}

    {% endblock body %}

  </body>

</html>